body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1 {
    -webkit-text-stroke: 3px white;
    color: transparent;
    transition: 0.5s;
    text-shadow:
        5px 5px 5px aqua,
        7px 7px 0px #e601c0,
        9px 9px 0px #e9019a,
        11px 11px 0px #f40448
}

.h1:hover{
    text-shadow: none;
}
/* estilos del header */
.menu-container {
    font-size: 24px;
    border: 1px solid black;
    text-align: left;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: #333;
    color: white;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos para la galería de imágenes */
.gallery-container {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.gallery-item {
    padding: 70px;
    text-align: center;
    border: 1px solid #333;
    width: 100%;
    max-width: 120px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 50);
}

/* estilos del footer */
.footer-container {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-container {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Media Queries para móviles */
@media (max-width: 767px) {}

/* Media Queries para tablets */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Media Queries para pantallas grandes */
@media (min-width: 1024px) {}